{% lare_extends "__base.html" "Lare" "__lare.html" %}
{% block page %}
    <div id="page">
        <div class="home-hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>
                            {% _ "404" %}
                        </h1>
                        <h2>
                            {% _ "Not found." %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
