<lare-head>
    <title>{{title}}</title>
    {% block inner_head %}{% endblock inner_head %}
</lare-head>
<lare-body>
    {% block site %}
        {% block page %}
            {% block content %}
                {% block inner_content %}{% endblock inner_content %}
            {% endblock content %}
        {% endblock page %}
    {% endblock site %}
    {% block additional_lare_includes %}{% endblock additional_lare_includes %}
    <div id="render_time" class="pull-left">{% rendering_time %} s {{QUERY_COUNT}} queries on {{DB_CONNECTION_COUNT}} connections</div>
</lare-body>
<lare-namespace>{% block lare_namespace %}{{ lare_current_namespace }}{% endblock lare_namespace %}</lare-namespace>
