<pjaxr-head>
    <title>{{title}}</title>
    {% block inner_head %}{% endblock inner_head %}
</pjaxr-head>
<pjaxr-body>
    {% block site %}
        {% block page %}
            {% block content %}
                {% block inner_content %}{% endblock inner_content %}
            {% endblock content %}
        {% endblock page %}
    {% endblock site %}
    {% block additional_pjaxr_includes %}{% endblock additional_pjaxr_includes %}
    <div id="render_time" class="pull-left">{% rendering_time %} s {{QUERY_COUNT}} queries on {{DB_CONNECTION_COUNT}} connections</div>
    {% include "_navbar.html" %}
</pjaxr-body>
<pjaxr-namespace>{% block pjaxr_namespace %}{{ pjaxr_namespace }}{% endblock pjaxr_namespace %}</pjaxr-namespace>
