{% lare_extends "__base.html" "Lare" "__lare.html" %}
{% block page %}
<div id="page">
    <div class="home-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        {% _ "Lare" %}
                    </h1>
                    <h2>
                        {% _ "speeds up your page." %}
                    </h2>
                    <img src="/static/img/lare-flow.png" alt="Lare" class="img-responsive" style="display: inline-block;">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row padding-50-0">
            <div class="col-sm-4 text-center">
                <p><span class="fa fa-tachometer font-size-120"></span></p>
                <h2>{% _ "Speed" %}</h2>
                <p>
                    {% _ "load times are reduced<br>by Lare." %}
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <p><span class="fa fa-pie-chart font-size-120"></span></p>
                <h2>{% _ "Traffic" %}</h2>
                <p>
                    {% _ "web traffic is reduced<br>by Lare." %}
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <p><span class="fa fa-line-chart font-size-120"></span></p>
                <h2>{% _ "Requests" %}</h2>
                <p>
                    {% _ "less requests are required<br>by Lare." %}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row padding-50-0">
            <div class="col-xs-12 text-center">
                <h2>
                    {% _ "This page is powered by" %}
                </h2>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                <a href="https://github.com/iekadou/php-lare/" target="_blank" class="btn btn-block btn-dark" data-non-lare>PHP-lare</a>
            </div>
            <div class="col-xs-12 visible-xs"><br></div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                <a href="https://github.com/iekadou/twig-lare/" target="_blank" class="btn btn-block btn-primary" data-non-lare>Twig-lare</a>
            </div>
            <div class="col-xs-12 visible-xs"><br></div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center">
                <a href="https://github.com/minddust/lare.js/" target="_blank" class="btn btn-block btn-female" data-non-lare>lare.js</a>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
