{% lare_extends "__tags_base.html" "Lare.Tags" "__lare.html" %}
    {% block content %}
        <div id="content">
            {% for object in objects %}
                {{ object.tag|raw }}<br>
            {% endfor %}
            {{ pagination|raw }}
        </div>
    {% endblock content %}
{% block additional_lare_includes %}<div id="additional_lare_includes">
    <script>
        $('.tagLetter').removeClass('strong');
        $('.tagLetter[href="/tags/{{current_char}}/1/"]').addClass('strong');
    </script>
</div><h1 id="tags_headline">{{ current_char }} Tags - page {{ current_page }}</h1>{% endblock additional_lare_includes %}