body {
  padding-top: 60px;
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.font-size-120 {
    font-size: 120px;
}
.padding-50-0 {
    padding: 50px 0;
}
.btn-female, .btn-female:focus {
    background-color: #ff26d2;
    border-color: #d920b3;
    color: #fff;
}
.btn-female:hover, .btn-female:active {
    background-color: #d920b3;
    border-color: #d920b3;
    color: #fff;
}

.table-vertical-aligned>tbody>tr>td, .table-vertical-aligned>thead>tr>th {
  vertical-align: middle;
}

.home-hero {
    width: 100%; 
    position: relative; 
    text-align: center;
}
.home-hero img {
}
.home-hero h1 {
    position: relative;
    top: 25px;
    color: #333;
    font-size: 50px;
}
.home-hero h2 {
    position: relative;
    color: #333;
}
#page {
  min-height: 100%;
  margin: 0 auto -60px;
  padding-bottom: 60px;
}
.navbar-brand img {
  max-height: 45px;
  margin-top: -12px;
}
#footer {
  position: relative;
  z-index: 1001;
  width: 100%;
  height: 60px;
  background-color: #333;
  border-top: 1px solid #080808;
  padding-top: 18px;
  text-align: right;
  color: #fff;
}
#footer a, #footer a:visited {
  color: #fff;
}
#footer a:hover {
  color: #ccc;
  text-decoration: none;
}

.dropdown-menu a {
  margin: 5px;
}

#toast-container>.toast {
  background-image: none!important;
  padding: 15px 15px 15px 30px;
}

@media (max-width: 767px) {
  .dropdown-toggle {
    display: none!important;
  }
  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    display: block;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown-menu a {
      border-color: #333;
  }
  .navbar-form {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.navbar-inverse {
    background-color: #333;
}

#map {
    width: 100%;
    height: 300px;
}

.strong {
    font-weight: bold;
}