RewriteEngine On

# deny direct access to views
RewriteCond %{REQUEST_URI} ^/views/.*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# deny direct access to api
RewriteCond %{REQUEST_URI} ^/api/.*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# frontend urls
RewriteRule ^$ views/index.php [L]
RewriteRule ^imprint/$ views/imprint.php [L]
RewriteRule ^logout/$ views/logout.php [L]
RewriteRule ^register/$ views/register.php [L]
RewriteRule ^tags/$ views/tags.php [L]
RewriteRule ^tags/([^/\.]+)/?$ views/tags.php?current_char=$1 [L]
RewriteRule ^tags/([^/\.]+)/([^/\.]+)/?$ views/tags.php?current_char=$1&page=$2 [L]

# account urls
RewriteRule ^account/$ views/account/index.php [L]
RewriteRule ^account/profile/$ views/account/profile.php [L]

# api urls
RewriteRule ^api/login/$ api/login.php [L]
RewriteRule ^api/profile/$ api/profile.php [L]
RewriteRule ^api/register/$ api/register.php [L]

# restrictions
RewriteRule ^classes/.*$ - [R=404,L,NC]
RewriteRule ^config/.*$ - [R=404,L,NC]
RewriteRule ^inc/.*$ - [R=404,L,NC]
RewriteRule ^templates/.*$ - [R=404,L,NC]
RewriteRule ^vendor/.*$ - [R=404,L,NC]

ErrorDocument 404 /views/_errors/404.php
