{% extends "account/__base.html" %}
{% block content %}
<div id="content">
    <h1 class="page-header">{% _ "Profile" %}</h1>
    <form class="form api-form form-horizontal" role="form" action="/api/profile/" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="userid" value="{{ account.get_user_id }}">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="id_username">{% _ "Your Username" %}:*</label>
            <div class="col-sm-9"><input type="text" name="username" id="id_username" class="form-control" value="{{ account.get_user.get_username }}" placeholder="" required=""></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="id_email">{% _ "Your Email" %}:*</label>
            <div class="col-sm-9"><input type="email" name="email" id="id_email" class="form-control" value="{{ account.get_user.get_email }}" placeholder="" required=""></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="id_password">{% _ "Your Password" %}:**</label>
            <div class="col-sm-9"><input type="password" name="password" id="id_password" class="form-control" value="" placeholder=""></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="id_password_again">{% _ "Your Password again" %}:**</label>
            <div class="col-sm-9"><input type="password" name="password_again" id="id_password_again" class="form-control" value="" placeholder=""></div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <p class="small">{% _ "Fields with * are required." %}</p>
                <p class="small">{% _ "If you leave Fields with ** blank, they will not be udpated." %}</p>
                <br>
            </div>
        </div>
        <div class="fom-control">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary" type="submit">{% _ "Save" %}</button>
                <button class="btn btn-default" type="reset">{% _ "Reset" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
